@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300&family=Righteous&display=swap');

body {
  font-family: 'Manrope';
  align-items: center;
font-size: 12pt;
padding: 3%;
}

h1 {
  font-size: 50pt;
text-align: center;
}

marquee {
  width: 80%;

}
label { 
  font-size: 13pt;
  color: rgb(30, 28, 28)
}

select {
background-color: rgb(234, 247, 213);
padding: 1%;
color: black;
  border-radius: 4pt;
margin: 2%;
width: 15%;
border-color: transparent;
}

input {
background-color: rgb(234, 247, 213);
padding: 1%;
color: black;
  border-radius: 4pt;
margin: 2%;
width: 15%;
  display: flex;
border-color: transparent;

}

#new-quantity{ 
font-size: 12pt;
width: 15%;
}

div#ticket-receipt {
background-color: rgb(234, 247, 213);
padding: 2%;
color: black;
  border-radius: 4pt;
margin-top: 5%;

}

div#ticket-receipt p {
color: black;
font-size: 13pt;
}

div#ticket-receipt h2 {
color: black;
font-size: 18pt;
padding:2%;

}

.hidden {
  display: none;
}

/* HIDE RADIO */
[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
  width: 215px;
  height: 300px;
  object-fit: fill;
  margin-left: 5%;
  margin-top: 5%;

}

/* CHECKED STYLES */
[type=radio]:checked + img {
  outline: 3px solid  rgb(204, 218, 183);
  scale: 1.06;
}

.radio {
  text-align: center;
}

label, p, button {
  margin-left: 2%;
}

p#movies {
  font-size: 20pt;
  padding-bottom: 3%;
}

button {
  background-color: rgb(180, 208, 138);
  border-color: transparent;
  padding: 1.5%;
  border-radius: 4pt;
  
}
button:hover {
  background-color: rgb(212, 241, 169);
  
}