body {
  align-items: center;
  margin: 5%;
font-size: 12pt;
}

h1 {
  font-size: 50pt;
text-align: center;
}


label { 
  font-size: 13pt;
  color: rgb(30, 28, 28)
}

select {
background-color: rgb(234, 247, 213);
padding: 1%;
color: black;
border-radius: 4%;
margin: 2%;
width: 50%;
border-color: transparent;
}

input {
background-color: rgb(234, 247, 213);
padding: 1%;
color: black;
border-radius: 4%;
margin: 2%;
width: 15%;
  display: flex;
border-color: transparent;

}

#new-quantity{ 
font-size: 12pt;
width: 15%;
}

div#ticket-receipt {
background-color: rgb(234, 247, 213);
padding: 2%;
color: black;
border-radius: 4%;
margin-top: 5%;

}

div#ticket-receipt p {
color: black;
font-size: 13pt;
}

div#ticket-receipt h2 {
color: black;
font-size: 18pt;
padding:2%;

}

.hidden {
  display: none;
}

/* HIDE RADIO */
[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
  width: 200px;
  height: 280px;
  object-fit: fill;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
  outline: 3px solid  rgb(204, 218, 183);
  scale: 1.06;
}

label, p, button {
  margin-left: 2%;
}

p#movies {
  font-size: 20pt;
  padding-bottom: 3%;
}

button {
  background-color: rgb(180, 208, 138);
  border-color: transparent;
  padding: 2%;
  border-radius: 4%;
  
}
button:hover {
  background-color: rgb(212, 241, 169);
  border-color: transparent;
  padding: 2%;
  border-radius: 4%;
  
}